.container {
	position: relative;
	text-align: center;
	color: chartreuse;
}

.centered {
	background: black;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 200%;
}

.centered button {
	background: #123;
	color: red;
	margin: 5%;
	border-color: green;
	border-style: dotted;
	border-width: medium;

}

